{% extends "base.html" %}

{% block body %}

    <style>
      .gradient-custom {
      /* fallback for old browsers */
      background: #14171A;

      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #14171A, #16191c);

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, #14171A, #16191c);
      }
    </style>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-90">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Faça Seu Login</h2>
                    <p class="text-white-50 mb-5">Por favor, digite seu login e senha!</p>

                    <form method="POST" action="">
                      {{ form_login.csrf_token }}

                      <fieldset>
                        <div class="form-outline form-white mb-4">
                          {% if form_login.email.errors %}
                            {{ form_login.email(class="form-control form-control-lg is-invalid", placeholder="name@example.com") }}
                            
                            <div class="invalid-feedback">
                              {% for erro in form_login.email.errors %}
                                <strong>{{ erro }}</strong>
                              {% endfor %}
                            </div>
                            
                          {% else %}
                            {{ form_login.email(class="form-control form-control-lg", placeholder="name@example.com") }}
                          {% endif %}
                          {{ form_login.email.label(class="form-label", for="typeEmailX")}}
                        </div>
          
                        <div class="form-outline form-white mb-2">
                          {% if form_login.senha.errors %}
                            {{ form_login.senha(class="form-control form-control-lg is-invalid", placeholder="Senha") }}
                            
                            <div class="invalid-feedback">
                              {% for erro in form_login.senha.errors %}
                                <strong>{{ erro }}</strong>
                              {% endfor %}
                            </div>
                            
                          {% else %}
                            {{ form_login.senha(class="form-control form-control-lg", placeholder="Senha") }}
                          {% endif %}
                          {{ form_login.senha.label(class="form-label", for="typePasswordX") }}
                        </div>
                      </fieldset>
                      
                      <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">Esqueceu a senha?</a></p>
    
                      {{ form_login.submit_button_login(class="btn btn-outline-dark btn-lg px-5 mb-4 fw-bold", style="background: #ffc107;") }}

                    </form>
    
                    <div>
                      <p class="mb-0">Não tem uma conta? <a href="{{ url_for('cadastro') }}" class="text-white-50 fw-bold">Cadastre-se</a>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    

{% endblock %}