{% extends 'base.html' %}

{% block head %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{  url_for('static', filename='style_profile_edit.css') }}"
  />
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <br>
            <h2 class="h3 mb-4 page-title" style="color: #ffc107;">Definições</h2>
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-bg-dark" id="home-tab" data-toggle="tab" href="{{ url_for('edit_profile') }}" role="tab" aria-controls="home" aria-selected="false">Perfil</a>
                    </li>
                </ul>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form_edit.csrf_token() }}
                    <div class="container mt-5 d-flex justify-content-center">
                        <div class="card w-100 text-bg-dark p-3">
                          <div class="d-flex">
                            <div class="image pe-3">
                              <img
                                src="{{ profile_photo }}"
                                class="rounded"
                                width="200"
                              />
                              <p> </p>
                              <div class="form-group">
                                {{ form_edit.foto_perfil(class="form-control-file") }}
                                {% if form_edit.foto_perfil.errors %}
                                  {% for erro in form_edit.foto_perfil.errors %}
                                    <span class="text-danger">Extensão de arquivo não aceita.</span>
                                  {% endfor %}
                                {% endif %}
                              </div>
                            </div>
                    
                            <div class="w-100">
                              <h4 class="mb-0 mt-0">{{ current_user.nome }} {{ current_user.sobrenome }}</h4>
                              <span>@{{ current_user.username }}</span>
                    
                              <div class="p-2 mt-2 bg-secondary d-flex justify-content-between rounded text-white">
                                <div class="d-flex flex-column">
                                  <span class="articles fw-bold m-1">Principal Tecnologia</span>
                                  <span class="number1">
                                    {% if current_user.tech_principal == 'Python' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'JavaScript' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'Ruby' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'C#' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'C++' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'Swift' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'Java' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" width="45" height="45" /></span>
                                    {% endif %}
                    
                                    {% if current_user.tech_principal == 'Go' %}
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original-wordmark.svg" width="45" height="45" /></span>
                                    {% endif %}
                                </div>
                              </div>
                              <div class="button mt-2 d-flex flex-row align-items-center">
                                <a class="btn btn-sm btn-warning w-100 m-1" href="{{ url_for('edit_password') }}">Trocar de Senha</a>
                                <a class="btn btn-sm btn-outline-danger w-100 m-1" href="{{ url_for('exclude_account') }}">Excluir Conta</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <hr class="my-4" />
                    <div class="form-row" style="align-items: center;">
                        <div class="row g-3">
                            <div class="form-group col-md-6">
                              {{ form_edit.nome.label(class="form-label", style="color: #fff;") }}
                              {% if form_edit.nome.errors %}
                              {{ form_edit.nome(class="form-control is-invalid", placeholder="Nome") }}
                              
                              <div class="invalid-feedback">
                                {% for erro in form_edit.nome.errors %}
                                  {{ erro }}
                                {% endfor %}
                              </div>
                              
                              {% else %}
                                {{ form_edit.nome(class="form-control", placeholder="Nome") }}
                              {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                              {{ form_edit.sobrenome.label(class="form-label", style="color: #fff;") }}
                              {% if form_edit.sobrenome.errors %}
                              {{ form_edit.sobrenome(class="form-control is-invalid", placeholder="Sobrenome") }}
                              
                              <div class="invalid-feedback">
                                {% for erro in form_edit.sobrenome.errors %}
                                  {{ erro }}
                                {% endfor %}
                              </div>
                              
                              {% else %}
                                {{ form_edit.sobrenome(class="form-control", placeholder="Sobrenome") }}
                              {% endif %}
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="form-group col-md-6">
                              {{ form_edit.username.label(class="form-label", style="color: #fff;") }}
                              {% if form_edit.username.errors %}
                              {{ form_edit.username(class="form-control is-invalid", placeholder="Username") }}
                              
                              <div class="invalid-feedback">
                                {% for erro in form_edit.username.errors %}
                                  {{ erro }}
                                {% endfor %}
                              </div>
                              
                              {% else %}
                                {{ form_edit.username(class="form-control", placeholder="Username") }}
                              {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                              {{ form_edit.email.label(class="form-label", style="color: #fff;") }}
                              {% if form_edit.email.errors %}
                              {{ form_edit.email(class="form-control is-invalid", placeholder="E-mail") }}
                              
                              <div class="invalid-feedback">
                                {% for erro in form_edit.email.errors %}
                                  {{ erro }}
                                {% endfor %}
                              </div>
                              
                              {% else %}
                                {{ form_edit.email(class="form-control", placeholder="E-mail") }}
                              {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                              {{ form_edit.tech_principal(class='form-select') }} 
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    {{ form_edit.submit_button_edit(class="btn btn-outline-warning") }}
                    <a class="btn btn-outline-danger" href="{{ url_for('profile') }}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    
    </div>
{% endblock %}